* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App > * {
  margin-bottom: 3vmin;
}

.estimator-page-container > * {
  margin-bottom: 3vmin;
}

.table {
  border-radius: 10px;
}
